{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


<main id="site-main" class="site-main outer">

    {{#tag}}
    <h2>{{name}}</h2>

    {{#if description}}
    {{description}}
    {{else}}
    A collection of {{plural ../pagination.total empty='zero posts' singular='% post' plural='% posts'}}
    {{/if}}

    {{/tag}}

    
    <ul>
        {{#foreach posts }}
        <li>
            <span class="date">{{date format="YYYY-MM-DD"}}</span>
            <span>[{{tags separator=" ][ " autolink="false"}}]</span>
            <a href="{{url}}">{{title}}</a>
        </li>
        {{/foreach}}
    </ul>
    {{pagination}}
</main>

